---
layout: archive
title: "Publications"
excerpt: "The list of publications is shown in the page. Please also check <a href='https://scholar.google.com/citations?user=9hVh3nQAAAAJ&hl=en' target='_blank'>my Google Scholar profile</a> for the latest information."
permalink: /publications/
author_profile: true
---

<a name="page_top"></a>

{% include base_path %}

<div class="media-body">
  <ul>
     <li><a href="#highlights">Selected publications</a></li>
  </ul>
  <ul>
     <li><a href="#preprints">Preprints</a></li>
  </ul>
  <ul>
     <li><a href="#publications">Peer-reviewed publications</a></li>
  </ul>
</div>

{% if page.author and site.data.authors[page.author] %}
  {% assign author = site.data.authors[page.author] %}{% else %}{% assign author = site.author %}
{% endif %}

{% if author.googlescholar %}
  You can also find my articles and recent preprints on <u><a href="{{author.googlescholar}}" target='_blank'>my Google Scholar profile</a></u>.
{% endif %}

<hr/>

<a name="highlights"></a>

<h1>Selected publications</h1>

{% for post in site.publications reversed %}
  {% if post.highlight %}
    {% if post.permalink contains 'preprint' %}
      {% if post.ispublishedpreprint %}
      {% else %}
        {% include archive-single.html %}
      {% endif %}
    {% else %}
        {% include archive-single.html %}
    {% endif %}
  {% endif %}
{% endfor %}

<hr/>

<a name="preprints"></a>

<h1>Preprints</h1>

Preprints are provided for rapid sharing of the data, results, and knowledge among the scientific community and have not finished the peer-review process.

We welcome comments and feedback you may have.

{% for post in site.publications reversed %}
  {% if post.permalink contains 'preprint' %}
    {% if post.ispublishedpreprint %}
    {% else %}
      {% include archive-single.html %}
    {% endif %}
  {% endif %}
{% endfor %}

<hr/>

<a name="publications"></a>

<h1>Peer-reviewed publications</h1>

{% for post in site.publications reversed %}
  {% if post.permalink contains 'preprint' %}
  {% else %}
      {% include archive-single.html %}
  {% endif %}
{% endfor %}

<hr/>

Go back to <a href="#page_top">the top of this page</a>.
