---
layout: archive
title: "Resources"
permalink: /resources/
author_profile: true
---

This page lists datasets, analysis and visualization scripts, and web applications from Yosuke's research activities.

I have been fortunate to be involved in research projects that produced resources for the community. Most of the resources listed here are products from research projects conducted in <a href='http://med.stanford.edu/rivaslab/' target='_blank'>the Rivas Lab</a> and <a href='http://bejerano.stanford.edu/' target='_blank'>the Bejerano Lab</a> at Stanford University. Our use of generalist repository for scientific data sharing was <a href='https://datascience.nih.gov/data-ecosystem/exploring-a-generalist-repository-for-nih-funded-data' target='_blank'>featured</a> by NIH’s Office of Data Science Strategy (ODSS).

{% for post in site.resources reversed %}
  {% include archive-single.html %}
{% endfor %}
